body {
    background-image: url(https://th.bing.com/th/id/R.1ec73fe42f70ac16607f2392173ef09e?rik=rXicBVeb42jDUg&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
    margin-top: 50px;
}

h2 {
    color:rgb(79, 59, 182);
    font-size: 40px;
}

.box {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin: 30px;
}

.square {
    text-align: center;
}

.container {
    display: flex;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.flex, .flex1 {
    text-align: center;
    padding: 0px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    border-radius: 8px;
}

.flex1 {
    margin-top: 100px;
}

.white {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 8px;
}

.red {
    background-color: rgb(255, 153, 116);
}

.blue {
    background-color: rgb(79, 59, 182);
}

.green {
    background-color: rgb(88, 198, 161);
}

.red, .blue, .green {
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
}

img {
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
    border-radius: 100px;
}

@media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
  }