.grid {
    display: flex;
    flex-direction: column;
}

.box {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 1);
    width: 100px;
    height: 100px;
    padding: 15px;
    margin: 15px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.grid1 {
    display:flex;
    flex-direction: column-reverse;
}